html, body, .content {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
  overflow: hidden;
}

.credit, .github {
  position: fixed;
  z-index: 1000;
  color: #555;
}

.credit a, .github a {
  color: #555;
  text-decoration: none;
}

.credit a:hover, .github a:hover {
  color: #FFF;
  text-shadow: 0 0 8px #6BFF38;
  transition: all 0.2s ease-out;
}

.credit {
  top: 10px;
  left: 10px;
}

.github {
  top: 10px;
  right: 10px;
}

.help {
  position: fixed;
  z-index: 1000;
  color: #6BFF38;
  text-align: center;
  bottom: 60px;
  width: 100%;
  font-size: 30px;
}

.blink {
  background-color: #6BFF38;
  position: relative;
  display: inline-block;
  width: 4px;
  top: 8px;
  height: 33px;
  margin-left: 15px;
  animation: 0.8s blink infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
